# Secures the server with this token, if set
CEP_SERVER_TOKEN="aa"
CEP_SERVER_URL=http://localhost:8000

# Only relevant for server
# For dev, use you 192.168.1.X ip (or whatever subnet your LAN uses)
LIGHTHOUSE_STABLE_IP=<your-reachable-ip>
DNS_TOKEN=$(openssl rand -hex 32)
DNS_IP=172.17.0.1

# Host path for storage pools and volumes (bind-mounted into cep-appstore)
CEP_STORAGE_PATH=/var/lib/cep/storage
